html,
body {
  width: 100%;
  background-color: #1e1e2f;
  color: #e0e0e0;
  margin: 0; /* Убираем отступы по умолчанию */
}

.container {
  margin-top: 100px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Уменьшаем отступ между элементами */
  align-items: center;
  justify-content: flex-start; /* Убираем растягивание по высоте */
}

.title {
  height: 30px;
  font-family: cursive;
}

.todos {
  padding: 0; /* Убираем отступы списка */
  max-height: 500px; /* Максимальная высота для списка задач */
  overflow-y: auto; /* Добавляем прокрутку, если задач много */
}

.todos::-webkit-scrollbar {
  
    width: 8px; /* Ширина полосы прокрутки */
  }
  
  .todos::-webkit-scrollbar-track {
    background: #1e1e2f; /* Цвет фона полосы прокрутки */
    border-radius: 4px; /* Скругленные углы */
  }
  
  .todos::-webkit-scrollbar-thumb {
    background-color: #dfdfdf; /* Цвет прокрутки */
    border-radius: 4px; /* Скругление самого ползунка */
    border: 2px solid #1e1e2f; /* Пробел вокруг ползунка */
  }
  
  /* Стили при наведении на полосу прокрутки */
  .todos::-webkit-scrollbar-thumb:hover {
    background-color: #93759b; /* Более светлый цвет при наведении */
  }

.todo {
  display: flex;
  padding: 5px;
  background: #2e2e3e;
  border-radius: 5px;
  margin: 5px 0; /* Отступы между задачами */
  margin-right: 15px;
}

